body {
    background-color: #ccffcc; 
    text-align: center; 
    
}

h1 {
    color: #003366; 
    text-align: center; 
    margin: 20px 0;
}

h3 {
    color: #660000; 
    text-align: left; 
    margin-left: 20px;
}

p {
    color: #333; 
    text-align: left;
    margin-left: 20px;
}

a {
    color: #0066cc; 
    text-decoration: none;
}
